[submodule "ECommons"]
	path = ECommons
	url = https://github.com/mokeling/ECommons.git
[submodule "PunishLib"]
	path = PunishLib
	url = https://github.com/mokeling/PunishLib.git
[submodule "ClickLib"]
	path = ClickLib
	url = https://github.com/mokeling/ClickLib.git
[submodule "OtterGui"]
	path = OtterGui
	url = https://github.com/mokeling/OtterGui.git
